<h1>Cancel Subscription?</h1>

<div class="container">
    <p style="font-weight:bold; font-size: 120%" class="alpha columns sixteen">Are you sure you want to cancel this subscription? Service will be terminated immediately!</p> 
    <p class="alpha columns sixteen">(Required) If you would like to cancel, please type: 'YES' in this box:<p>

    <input style="margin-left: 30px" class="text"></p>
</div>

<div class="container" style="margin-bottom: 40px">
    <p>(Optional) Additionally, if you would like to specify any reasons for cancelling service:</p>

    <ul style="margin-left: 30px">
        <li><input type="checkbox"/> Cost</li>
        <li><input type="checkbox"/> Quality Of Service</li>
        <li><input type="checkbox"/> Migrating to a new Service.</li>
        <li><input type="checkbox"/> No Longer Require VOIP service.</li>
    </ul>

    <p>(Optional) Additional Comments:</p>
    <textarea style="margin-left: 30px" rows="10"></textarea>
</div>


<div class="container">
    <input type="button" class="btn alpha columns eight" style="height: 40px; background-color: #c10010; border: 1px solid #c1c1c1;" value="Yes, Cancel My Service Immediately"/>
    <input style="height: 40px;" type="button" class="btn omega columns eight" value="No! Do not Cancel my service."/>
</div>


